<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Página de testes</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
</head>

<body>
    <h1>Criar função transacional</h1>
    <form method="post">
        <div id="errors"></div>

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" id="submit-button"/>
    </form>
    <script type="text/javascript">
        var alr = $("#id_qtd_alr");
        var der = $("#id_qtd_der");
        var tipo_funcao = $("#id_tipo_funcao");
        var ponto_funcao = document.getElementById("id_pontos_de_funcao");
        var complexidade = document.getElementById("id_complexidade");
        var errors = document.getElementById("errors");

        ponto_funcao.disabled = true;
        complexidade.disabled = true;

        $("#submit-button").click(function(event){
            if(alr.val() < 0){ 
                event.preventDefault();
                var alr_error = document.createElement("p");
                var text_error = document.createTextNode("ALR less than 0 is not allowed");
                alr_error.appendChild(text_error);
                alr_error.appendChild(document.createElement("br"));
                errors.append(alr_error);
            }
            
            if(der.val() < 1){
                event.preventDefault();
                var der_error = document.createElement("p");
                var text_error = document.createTextNode("DER less than 0 is not allowed");
                der_error.appendChild(text_error);
                der_error.appendChild(document.createElement("br"));
                errors.append(der_error);   
            }
            
            if (der.val() >= 1 && alr.val() >= 0 ){
                ponto_funcao.disabled = false;
                complexidade.disabled = false;
            }

        })

        alr.change(function () {
            if (der.val() != '') {
                verificando_grupo()
            }
        })

        der.change(function () {
            if (alr.val() != '') {
                verificando_grupo()
            }
        })

        function verificando_grupo() {
            if (tipo_funcao.val() == 'EE') {
                if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 4){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 5 && der.val() <= 15 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 5 && der.val() <= 15 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 5 && der.val() <= 15 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                } else if (der.val() >= 16 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 16 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                } else if (der.val() >= 16 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                }
            } else if (tipo_funcao.val() == 'CE') {
                if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 1 && der.val() <= 4 && alr.val() >= 4){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 5 && der.val() <= 19 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 3
                } else if (der.val() >= 5 && der.val() <= 19 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 5 && der.val() <= 19 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                } else if (der.val() >= 20 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'media'
                    ponto_funcao.value = 4
                } else if (der.val() >= 20 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                } else if (der.val() >= 20 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 6
                }
            } else if (tipo_funcao.val() == 'SE'){
                
                if (der.val() >= 1 && der.val() <= 5 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 4
                } else if (der.val() >= 1 && der.val() <= 5 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 4
                } else if (der.val() >= 1 && der.val() <= 5 && alr.val() >= 4){
                    complexidade.value = 'media'
                    ponto_funcao.value = 5
                } else if (der.val() >= 6 && der.val() <= 19 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'baixa'
                    ponto_funcao.value = 4
                } else if (der.val() >= 6 && der.val() <= 19 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'media'
                    ponto_funcao.value = 5
                } else if (der.val() >= 6 && der.val() <= 19 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 7
                } else if (der.val() >= 20 && alr.val() >= 0 && alr.val() <= 1){
                    complexidade.value = 'media'
                    ponto_funcao.value = 5
                } else if (der.val() >= 20 && alr.val() >= 2 && alr.val() <= 3){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 7
                } else if (der.val() >= 20 && alr.val() >= 4){
                    complexidade.value = 'alta'
                    ponto_funcao.value = 7
                }
            }
        }
    </script>
</body>

</html>